* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 17px;
}

.container {
    position: relative;
    margin: 0 auto;
}

.container img {vertical-align: middle; height: 25rem; width: 10rem}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 90%;
    padding: 20px;
}

